.app {
  margin: 0 auto;
  padding: 0 20px;
  margin-top: 20px;
}

.app__chunk {
  margin-bottom: 20px;
}

@media screen and (min-width: 1040px) {
  .app {
    position: relative;
  }

  .app__chunk {
    width: 50%;
  }

  .app__chunk--pull-right {
    position: absolute;
    right: 0;
    top: 0;
  }
}
